<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>中文</string>
		<key>desc</key>
		<string>zh_CN</string>
	</dict>
	<dict>
		<key>name</key>
		<string>英文</string>
		<key>desc</key>
		<string>en_us</string>
	</dict>
</array>
</plist>
